<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TerminologyForge</title>
    <link rel="icon" href="/static/img/tficon.svg" sizes="any" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script type="text/javascript">
      const theme1 = 'corporate';
      const theme2 = 'dracula';
      var theme =  window.localStorage.getItem('data-theme') || theme1;
      document.documentElement.setAttribute('data-theme', theme);
      function theme_control() {
	  var themeCheckBox = document.getElementById('themeswitch'); 
	  if(themeCheckBox.checked) {
	      document.documentElement.setAttribute('data-theme', theme1);
	      window.localStorage.setItem('data-theme', theme1);
	  } else {
	      document.documentElement.setAttribute('data-theme', theme2);
	      window.localStorage.setItem('data-theme', theme2);
	  }
      }
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body_top %}{% endblock %}
  <div class="flex flex-col w-full h-full">
    <!-- navbar -->
    <div class="navbar bg-base-200 text-base-content shadow-md fixed top-0 z-50">
      <div class="flex-none">
	<button class="btn btn-ghost" popovertarget="popover-main-menu" style="anchor-name:anchor-main-menu">
	  <span class="size-6 stroke-current fill-current">{% include "icons/tficon.svg" %}</span>
	</button>
	<ul class="dropdown menu w-52 rounded-box rounded-t-none bg-base-200 shadow-sm"
  popover id="popover-main-menu" style="position-anchor:anchor-main-menu">
	  {% block main_menu %}
	  <li><a href="/">Home</a></li>
	  {% endblock main_menu %}
	</ul>
      </div>
      <!--  -->
      <div class="flex-1 ml-5 bg-base-200 base-content">
	{% block nav_middle %}
	{% endblock nav_middle %}
      </div>
      <!--  -->
      <div class="flex-none">
	<!-- Help button -->
	<label class="btn btn-ghost" onclick="help_modal.showModal()">
	  <span class="size-6 stroke-current fill-current">{% include "icons/help.svg" %}</span>
	</label>
	<!-- End help button -->
	<!-- Theme controller -->
	<span class="btn btn-ghost">
	  <label class="swap swap-rotate">
	    <!-- this hidden checkbox controls the state -->
	    <input type="checkbox" id="themeswitch" checked onchange="theme_control()" />
	    <!-- sun icon -->
	    <span class="size-6 stroke-current fill-current swap-off">{% include "icons/sun.svg" %}</span>
	    <!-- moon icon -->
	    <span class="size-6 stroke-current fill-current swap-on">{% include "icons/moon.svg" %}</span>
	  </label>
	</span>
	<!-- End theme controller -->
	<!-- User menu -->
	<button class="btn btn-ghost" popovertarget="popover-user-menu" style="anchor-name:anchor-user-menu">
	  <span class="size-6 stroke-current fill-none">{% include "icons/user.svg" %}</span>
	</button>
	<!-- End user menu -->
	<ul class="dropdown menu w-52 rounded-box rounded-t-none bg-base-200 shadow-sm" popover id="popover-user-menu" style="position-anchor:anchor-user-menu">
	  {% block user_menu %}
	  {% if user %}
	  <li><a href="/user"><i>{{ user.github }}</i></a></li>
	  <li><a href="/logout">Logout</a></li>
	  {% else %}
	  <li><i>Not Logged in</i></li>
	  <li><a href="/">Log in</a></li>
	  {% endif %}
	  {% endblock user_menu %}
	</ul>
      </div>
    </div> <!-- navbar -->
    <div class="mt-20">
      <dialog id="main_modal" class="modal">
	<div class="modal-box w-9/10 max-w-5xl h-8/10">
	  {% block main_modal %}
	  {% endblock main_modal %}
	</div>
      </dialog>
      <dialog id="help_modal" class="modal">
	<div class="modal-box w-9/10 max-w-5xl h-8/10 flex flex-col justify-between">
	  <h3 class="text-lg font-bold mb-4 flex-none">Help</h3>
	  <div class="justify-self-start grow">
	  {% block help_modal %}
	  {% endblock help_modal %}
	  </div>
	  <span class="btn mt-4 flex-none" onclick="help_modal.close()">Close</span>
	</div>
      </dialog>

      {% if alert %}
      <div role="alert" class="alert alert-soft alert-{{ alert_type|default('info') }} m-4 p-4">
	{% block feedback %}<span>{{ alert }}</span>{% endblock feedback %}
      </div>
      {% endif %}
      {% block content %}{% endblock content %}
    </div>
  </div>
  {% block body_bottom %}{% endblock %}
  <script type="text/javascript">
    theme = document.documentElement.getAttribute('data-theme');
    var themeCheckBox = document.getElementById('themeswitch');
    themeCheckBox.checked = (theme == theme1)? true : false;
  </script>
</body>
</html>
