{% extends "base.html" %}



{% block main_modal %}
{% endblock main_modal %}



{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/list">List</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
{% if vocab.is_editable(user) %}
<li><a href="/vocab/{{ vocab.key }}/tasks">Tasks</a></li>
{% endif %}
<li class="menu-title">Actions:</li>
{% if vocab.is_editable(user) %}
<li><a href="/vocab/{{ vocab.key }}/add">Add term</a></li>
{% endif %}
<li><a href="/vocab/{{vocab.key}}/export">Export vocabulary</a></li>
{% endblock main_menu %}



{% block nav_middle %}
<!-- Use name of filtr as filter is a python keyword -->
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
<!-- <input id="filter" name="filtr" type="text" placeholder="Filter" class="input input-bordered w-24 md:w-auto search navbar-center text-base-content ml-5" value="{{ filter }}" /> -->
{% endblock nav_middle %}



{% block content %}
<div class="m-4 flex flex-col">  
  <h1 class="text-2xl">{{ vocab.name }}</h1>
  <div class="m-4">{{ vocab.description }}</div>
  <div class="flex flex-row gap-10 m-4 mt-10">
    <a href="/vocab/{{ vocab.key }}/list" class="btn">
      <span class="size-6 stroke-current fill-none">{% include "icons/list.svg" %}</span>
      List
    </a>
    <a href="/vocab/{{ vocab.key }}/graph" class="btn">
      <span class="size-6 stroke-current fill-none">{% include "icons/graph.svg" %}</span>
      Graph
    </a>
    {% if vocab.is_editable(user) %}
    <a href="/vocab/{{ vocab.key }}/tasks" class="btn">
      <span class="size-6 stroke-current fill-none">{% include "icons/editable.svg" %}</span>
      Tasks
    </a>
    {% endif %}
  </div>
  {% if vocab.is_editable(user) %}
  <h2 class="text-lg">Log of changes</h2>
  {% include "log_component.html" %}
  {% endif %}

</div>
{% endblock content %}

