{% extends "base.html" %}

{% block main_modal %}
{% endblock main_modal %}


{% block main_menu %}
<li><a href="/">Home</a></li>
<li class="menu-title">Actions:</li>
<!-- <li><span onclick="document.querySelectorAll('input[type=checkbox]').forEach(el => el.checked = false);">Clear selection</span></li> -->
<!-- <li><span onclick="main_modal.showModal()">Set tags on selected</span></li> -->
<li><a href="/vocab/{{vocab.key}}/export">Export vocabulary</a></li>
{% endblock main_menu %}

{% block nav_middle %}
<!-- Use name of filtr as filter is a python keyword -->
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
<!-- <input id="filter" name="filtr" type="text" placeholder="Filter" class="input input-bordered w-24 md:w-auto search navbar-center text-base-content ml-5" value="{{ filter }}" /> -->
{% endblock nav_middle %}

{% block user_menu %}
  <li><i>{{ user.github }}</i></li>
  <li><a href="/logout">Logout</a></li>
{% endblock user_menu %}

{% block content %}
<div class="m-4">  
  <h1 class="text-2xl">{{ vocab.name }}</h1>
  <p class="">{{ vocab.description }}</p>
  <div class="flex flex-row gap-10 mt-10">
    <a href="/vocab/{{ vocab.key }}/list" class="btn">
      <span class="size-6 stroke-current fill-none">{% include "icons/list.svg" %}</span>
      List
    </a>
    <a href="/vocab/{{ vocab.key }}/graph" class="btn">
      <span class="size-6 stroke-current fill-none">{% include "icons/graph.svg" %}</span>
      Graph
    </a>
  </div>
</div>
{% endblock content %}

