{% extends "base.html" %}



{% block body_top %}
<form method="post" action="/editkey/{{ item['key'] }}">
{% endblock body_top %}



{% block body_bottom %}
</form>
{% endblock body_bottom %}



{% block nav_end %}
<button type="submit" class="btn btn-outline">Save</button>
{% endblock nav_end %}



{% block content %}
<div class="flex flex-col px-6">
  <h1 class="text-2xl">Edit key for <a class="link" href="/term/{{ item['key'] }}">{{ item['term']}}</a></h1>

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
    <legend class="fieldset-legend">Key</legend>
    <input type="text" name="key" class="input w-full" required value="{{ item['key'] }}" />
    <p class="label">Changing the key will also change the cross links from other terms to this one. The term itself will not change.</p>
  </fieldset>

  
  <h2 class="text-xl mt-4">Links to {{ item['key'] }}:</h2>
  <p class="opacity-60">The keys in the following links will also be updated to the new key.</p>
  <ul class="list list-disc w-full gap-4 mt-2 ml-4">
    {% for r in refs %}
    <li class="w-full">
      <span class="text-lg">{{ r.context }} in <a class="link" href="/term/{{ r.key }}">{{ r.term }}</a></span>
      <p class="w-full mt-2 text-primary">{{ r.src_html|safe }}</p>
    </li>
    {% endfor %}
  </ul>

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 mt-4">
    <legend class="fieldset-legend">Log</legend>
    <input type="text" name="log" class="input w-full" placeholder="Reason for changes" required value="" />
    <p class="label">Give a summary of changes for the item's log.</p>
  </fieldset>

  
</div>
{% endblock %}
