{% extends "base.html" %}



{% block nav_middle %}
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
{% endblock nav_middle %}
  


{% block help_modal %}
<div class="flex flex-col gap-4">
<p>Here you can export the <i>{{vocab.key}}</i> vocabulary into two formats:</p>
<ul>
  <li><code>JSON</code>: Export vocabulary data in <a class="link" href="https://www.rfc-editor.org/info/rfc8259/">JSON</a> format. Terms and keys are sorted alphabetically and the output is written to be human-readable. This is a good format to backup a vocabulary as there exists tools to load the vocabulary from such a file.</li>
  <li class="mt-4"><code>CSV</code>: Export vocabulary data as a <a class="link" href="https://www.rfc-editor.org/info/rfc4180/">CSV</a> file. Notes and other lists are combined into a single column, separated by semicolon (;).</li>
</ul>
</div>
{% endblock help_modal %}



{% block content %}
<div class="flex flex-col px-6">
  <h1 class="text-2xl">Export {{vocab.key}} data</h1>

  <div class="flex flex-col gap-4 mt-4">
    <form method="post" action="/vocab/{{vocab.key}}/export">
      
      <div class="collapse collapse-arrow bg-base-100 border border-base-300">
	<input type="radio" name="export-types" checked="checked" />
	<div class="collapse-title font-semibold"><code>JSON</code></div>
	<div class="collapse-content text-sm">
	  <p>Export vocabulary data in <code>JSON</code> format. Terms and keys are sorted alphabetically and the output is written to be human-readable.</p>
	  <div class="flex flex-row justify-end w-full mt-2">
	    <button class="btn" type="submit" name="action" value="json">Export JSON</button>
	  </div>
	</div>
      </div>

      <div class="collapse collapse-arrow bg-base-100 border border-base-300">
	<input type="radio" name="export-types" />
	<div class="collapse-title font-semibold"><code>CSV</code></div>
	<div class="collapse-content text-sm">
	  <p>Export vocabulary data as a <code>CSV</code> file. Lists are combined into a single column, separated by semicolon (;).</p>
	  <div class="flex flex-row justify-end w-full mt-2">
	    <button class="btn" type="submit" name="action" value="csv">Export CSV</button>
	  </div>
	</div>
      </div>
      
    </form>
  </div>
  
</div>
{% endblock %}
