{% extends "base.html" %}


{% block main_modal %}
<h3 class="text-lg font-bold mb-4">Dialog</h3>
<p class="">This is content to appear in a dialog.</p>
<span class="btn mt-4" onclick="main_modal.close()">Close</span>
{% endblock main_modal %}

{% block help_modal %}
<p class="">This is your home page</p>
{% endblock help_modal %}


{% block nav_middle %}
{% endblock nav_middle %}


{% block user_menu %}
  <li><i>{{ user.github }}</i></li>
  <li><a href="/logout">Logout</a></li>
{% endblock user_menu %}


{% block content %}
<div class="flex flex-col m-4">
  <h3 class="text-lg">{{user.name}}</h3>
  <table class="table">
    <tbody>
      <tr> <th>Name</th> <td>{{user.name}}</td> </tr>
      <tr> <th>Email</th> <td>{{user.email}}</td> </tr>
      <tr> <th>Gilhub</th> <td>{{user.github}}</td> </tr>
      </tr>
  </table>
<h3>Editable Vocabularies</h3>
<ul class="list bg-base-100 rounded-box shadow-md">
    {% for vocab in user.editor %}
    <a href="/list/{{vocab}}"><li class="list-row">{{vocab}}</li></a>
    {% endfor %}
</ul>
<p>{{user}}</p>
</div>
{% endblock %}
