{% extends "base.html" %}



{% block main_modal %}
<fieldset class="fieldset w-full">
  <input type="text" class="input w-full" placeholder="Add and remove tags" name="action" value="" />
  <p class="label">Add with +tag or just tag and remove with -tag</p>
</fieldset>
<button type="submit" class="btn">Set</button>
<span class="btn" onclick="main_modal.close()">Cancel</span>
{% endblock main_modal %}



{% block body_top %}
{% endblock body_top %}
  


{% block body_bottom %}
{% endblock body_bottom %}



{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/digest">Digest</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
{% if vocab.is_editable(user) %}
<li><a href="/vocab/{{ vocab.key }}/tasks">Tasks</a></li>
{% endif %}
<li class="menu-title">Actions:</li>
{% if vocab.is_editable(user) %}
<li><span onclick="document.querySelectorAll('input[type=checkbox]').forEach(el => el.checked = false);">Clear selection</span></li>
<li><span onclick="main_modal.showModal()">Set tags on selected</span></li>
<li><a href="/vocab/{{ vocab.key }}/add">Add term</a></li>
{% endif %}
<li><a href="/vocab/{{vocab.key}}/export">Export vocabulary</a></li>
{% endblock main_menu %}



{% block nav_middle %}
<div class="flex flex-row">
  <a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
  <form method="post" action="/vocab/{{vocab.key}}/list">
    <input id="filter" name="filtr" type="text" placeholder="Filter" class="input input-bordered w-24 md:w-auto search navbar-center text-base-content ml-5" value="{{ filtr }}" />
  </form>
</div>
{% endblock nav_middle %}



{% block nav_end %}
<ul class="menu menu-horizontal px-1">
  <li>
    <details>
      <summary>Sort</summary>
      <ul class="bg-neutral text-neutral-content rounded-t-none p-2">
	<li><a class="sort" data-sort="listjs-term">Term</a></li>
	<li><a class="sort" data-sort="listjs-cluster">Cluster</a></li>
	<li><a class="sort" data-sort="listjs-status">Status</a></li>
      </ul>
    </details>
  </li>
</ul>
{% endblock nav_end %}



{% block content %}
<ul class="list w-full">
  {% for t in terms %}
  <li id="{{ t.key }}" class="list-row w-full bg-base-100 scroll-mt-20">
    <input type="checkbox" class="checkbox" name="selected" value="{{ t.key }}" />
    <div class="flex flex-col gap-2">
      <div class="flex flex-row w-full">
	<a href="/vocab/{{vocab.key}}/term/{{t.key}}" class="flex-1 listjs-term font-bold">
	  {{ t.term }}
	  {% if t.synonyms|length > 0 %}
	  / {{ t.synonyms|join(' / ') }}
	  {% endif %}
	</a>
      </div>
      <div class="list-col-wrap text-sm opacity-60 listjs-definition">
	{{ t._definition_html | safe }}
      </div>
      <div class="flex flex-row flex-none flex-wrap gap-2 listjs-tag">
	{% for tag in t._tags %}
	<div href="#" class="badge badge-sm badge-soft badge-secondary tooltip whitespace-nowrap" data-tip="{{ tag['description'] }}" onclick="addtofilter('@{{ tag['name'] }}')">{{ tag['name'] }}</div>
	{% endfor %}
      </div>
    </div>
    <div>
      	<span class="badge badge-sm badge-soft tooltip badge-neutral" data-tip="degree">{{ t._indegree + t._outdegree }}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="stats shadow w-full">
  <div class="stat place-items-center">
    <div class="stat-title">Total terms</div>
    <div class="stat-value">{{ terms|length }}</div>
  </div>
</div>



{% endblock %}
