{% extends "base.html" %}



{% block main_modal %}
{% endblock main_modal %}



{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/digest">Digest</a></li>
<li><a href="/vocab/{{ vocab.key }}/list">List</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
<li><a href="/vocab/{{ vocab.key }}/tasks">Tasks</a></li>
<li class="menu-title">Actions:</li>
<li><a href="/vocab/{{ vocab.key }}/add">Add term</a></li>
<li><a href="/vocab/{{vocab.key}}/export">Export vocabulary</a></li>
{% endblock main_menu %}



{% block nav_middle %}
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
{% endblock nav_middle %}



{% block content %}
  <div class="m-4 flex flex-col">
  <div class="flex flex-row gap-4">  
    {% if task.locked %}
    <div class="size-6 stroke-current fill-none">{% include "icons/locked.svg" %}</div>
    {% else %}
    <div class="size-6 stroke-current fill-none">{% include "icons/editable.svg" %}</div>
    {% endif %}
    <h1 class="text-2xl">Task: <span class="text-secondary">{{ task.name }}</span></h1>
  </div>
  <div class="m-4">{{ task.description }}</div>

  <h2 class="text-2xl font-bold">Works:</h2>
  <p class="m-4 text-base-content/50">Below is a list of terms that have an edited task field.</p>
  <div class="overflow-x-auto w-full">
    <table class="table">
      <!-- head -->
      <thead>
	<tr>
          <th></th>
          <th>Term</th>
          <th>Content</th>
	</tr>
      </thead>
      <tbody>
	{% for work in works %}
	<tr>
          <th>{{ loop.index }}</th>
          <td>
	    <a href="/vocab/{{ work.vocab }}/term/{{ work.term_key }}" class="link">
	      {{ work.term_term }}
	    </a>
</td>
          <td>
	    {{  work.work_content }}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>

  
</div>
{% endblock content %}

