{% extends "base.html" %}



{% block main_modal %}
{% endblock main_modal %}



{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/digest">Digest</a></li>
<li><a href="/vocab/{{ vocab.key }}/list">List</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
<li class="menu-title">Actions:</li>
<li><a href="/vocab/{{ vocab.key }}/add">Add term</a></li>
<li><a href="/vocab/{{vocab.key}}/export">Export vocabulary</a></li>
{% endblock main_menu %}



{% block nav_middle %}
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
{% endblock nav_middle %}



{% block help_modal %}
<p class="">On this page is a list of tasks that may be set to help coordinate work on a vocabulary.</p>
{% endblock help_modal %}



{% block content %}
<div class="m-4 flex flex-col">  
  <h1 class="text-2xl">Tasks for {{ vocab.name }}</h1>
  <div class="m-4">{{ vocab.description }}</div>
  <p class="m-4 text-base-content/50">Below is a list of tasks that have been set for this vocabulary.</p>
  <ul class="list bg-base-100 rounded-box shadow-md">
    {% if tasks|length >0 %}
    {% for task in tasks %}
    <li class="list-row">
      <div>
	{% if task.locked %}
	<div class="size-6 stroke-current fill-none">{% include "icons/locked.svg" %}</div>
	{% else %}
	<div class="size-6 stroke-current fill-none">{% include "icons/editable.svg" %}</div>
	{% endif %}
      </div>
      <div>
	<a href="/vocab/{{ vocab.key }}/task/{{ task.key }}">
	  <div class="text-lg text-secondary">
	{{ loop.index }}. 
	{{ task.name }}
	  </div>
	  <div>
	    {{ task.description }}
	  </div>
	</a>
      </div>
    </li>
    {% endfor %}
    {% else %}
    <i> No tasks defined </i>
    {% endif %}

</div>
{% endblock content %}

