{% extends "base.html" %}

{% block main_modal %}
{% endblock main_modal %}


{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/digest">Digest</a></li>
<li><a href="/vocab/{{ vocab.key }}/list">List</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
<li><a href="/vocab/{{ vocab.key }}/tasks">Tasks</a></li>
<li class="menu-title">Actions:</li>
<li><a href="/vocab/{{ vocab.key }}/add">Add term</a></li>
<li><a href="/vocab/{{vocab.key}}/export">Export vocabulary</a></li>
{% endblock main_menu %}

{% block nav_middle %}
{% endblock nav_middle %}

{% block user_menu %}
  <li><i>{{ user.github }}</i></li>
  <li><a href="/logout">Logout</a></li>
{% endblock user_menu %}

{% block content %}
  <div class="m-4 flex flex-col">
  <div class="flex flex-row gap-4">  
    {% if task.locked %}
    <span class="size-6 stroke-current fill-none">{% include "icons/locked.svg" %}</span>
    {% else %}
    <span class="size-6 stroke-current fill-none">{% include "icons/editable.svg" %}</span>
    {% endif %}
    <h1 class="text-2xl"> {{ task.name }} </h1>
  </div>
  <div class="m-4">{{ task.description }}</div>

  <h2 class="text-lg">Works:</h2>

  <div class="flex flex-col">
    <div class="flex flex-row">
      <div>Term</div>
      <div>Work</div>
    </div>
    {% for work in works %}
    <div class="flex flex-row">
      <div>
	<a href="/vocab/{{vocab.key}}/term/{{work.termkey}}">{{ work.term }}</a>
      </div>
      <div>
	{{  work.content }}
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>
{% endblock content %}

