{% extends "base.html" %}



{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/digest">Digest</a></li>
<li><a href="/vocab/{{ vocab.key }}/list">List</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
{% if vocab.is_editable(user) %}
<li class="menu-title">Actions:</li>
<li><a href="/vocab/{{ vocab.key }}/edit/{{ term.key }}">Edit</a></li>
<li><a href="/vocab/{{ vocab.key }}/tasks">Tasks</a></li>
{% endif %}
{% endblock main_menu %}
	  


{% block nav_middle %}
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
{% endblock nav_middle %}

{% block help_modal %}
This page has all the detailed information on a term split into various sections detailed below. For an editable vocabulary, this page is were most of the work occurs.

<h3 class="font-semibold italic mt-4">Formal</h3>
<p>These are fields that will appear in the final standard. In particular, <i>Notes</i> are formal notes to be published, not notes during the terms development. Use comments or a task to capture those. The formal fields can be edited by using the edit menu item on main menu.</p>

<h3 class="font-semibold italic mt-4">Structural Info</h3>
<p>The term's key is used for cross links. The links in and out help indicate a term's importance.</p>

{% if vocab.is_editable(user) %}

<h3 class="font-semibold italic mt-4">Tags</h3>
<p>Tags are used to organise terms while developing a vocabulary. Tag names typically have a common prefix like "status.", this allows grouping in the list view.</p>

<h3 class="font-semibold italic mt-4">Tasks</h3>
<p>An admin may set a list of tasks to collect information for a term in a working group.</p>

<h3 class="font-semibold italic mt-4">Log</h3>
<p>A list of changes that have been made to the term or its related information.</p>

{% endif %}
{% endblock help_modal %}


{% block content %}
<div class="flex flex-col px-6 mb-10">

  <a href="/vocab/{{vocab.key}}/list#{{ term.key }}">
    <h1 class="text-2xl">
      {{ term.term }}
      {% if term.synonyms|length > 0 %}
      <span class="text-xl"> (<div class="tooltip tooltip-top" data-tip="Synonym">{{ term.synonyms|join('; ') }}</div>) </span>
      {% endif %}
    </h1>
  </a>

  <div class="divider mt-10">Formal Fields</div>
  <p class="mx-4 text-base-content/50">These are fields that appear in the final vocabulary.</p>
  <div class="mt-6 mx-4">
    <h2 class="font-bold text-base-content/50">Definition:</h2>
    <div class="flex flex-row">
      <span>{{ term._definition_html|safe }}</span> 
      {% if term._definition_html|length == 0 %}
      <i>No definition.</i>
      {% endif %}
    </div>
    
    <h2 class="font-bold mt-4 text-base-content/50">Notes:</h2>
    <ol class="list-decimal ml-4">
      {% for n in term._notes_html %}
      <li>
	{{ n|safe }}
      </li>
      {% endfor %}
    </ol>
    {% if term._notes_html|length == 0 %}
    <i>No notes.</i>
    {% endif %}
    
    <h2 class="font-bold mt-4 text-base-content/50">Section:</h2>
    <div>
      {{ term.section }}
      {% if term.section|length == 0 %}
      <i>No section.</i>
      {% endif %}
    </div>

    <h2 class="font-bold mt-4 text-base-content/50">Source:</h2>
    <div>
      {{ term.source }}
      {% if term.source|length == 0 %}
      <i>No source.</i>
      {% endif %}
    </div>

    <h2 class="font-bold mt-4 text-base-content/50">Context:</h2>
    <div>
      {{ term.context }}
      {% if term._context|length == 0 %}
      <i>Default context.</i>
      {% endif %}
    </div>
  </div>   

    
  <div class="divider mt-10">Structural Info</div>
  <div class="mx-4">
    <div class="text-sm flex flex-col">
      <div class="stats shadow">
	<div class="stat">
	  <div class="stat-title">Key</div>
	  <div class="stat-value text-base font-mono">{{ term.key }}</div>
	</div>
	<div class="stat">
	  <div class="stat-title">Inward links</div>
	  <div class="stat-value text-base">{{ term._indegree }}</div>
	</div>
	<div class="stat">
	  <div class="stat-title">Outward links</div>
	  <div class="stat-value text-base">{{ term._outdegree }}</div>
	</div>
      </div>
    </div> <!-- stats end -->
  </div>   <!-- formal fields end -->

    
  {% if vocab.is_editable(user) %}
  <div class="divider mt-10">Tags</div>
  <p class="mx-4 text-base-content/50">Tags are the main organisational method for the terms during development.</p>
  <div class="mt-6 mx-4">
    <fieldset class="fieldset">
      <input type="text" class="input w-full" placeholder="Set tags" name="tags"
	     value="{% for tag in term._tags %}{{ tag['name'] }}{% if not loop.last %}  {% endif %}{% endfor %}" hx-post="/x/settags" hx-target="#response" hx-include="#tag_key,#tag_vocab" />
      <input type="hidden" id="tag_key" name="key" value="{{ term.key }}" />
      <input type="hidden" id="tag_vocab" name="vocab" value="{{ vocab.key }}" />
      <p class="label" id="target">Tags should be separated by spaces. Press return to save.</p>
      <p class="label" id="response"></p>
    </fieldset>
  </div> <!-- tags end -->


  <div class="divider mt-10">Tasks</div>
  <p class="mx-4 text-base-content/50">The following are tasks that have been set for the vocabulary.</p>
  <div class="flex flex-col gap-6 mt-6 mx-4">
    {% if works|length >0 %}
    {% for work in works %}
    <div class="flex flex-col bg-base-100 w-full">
      <div class="flex flex-row justify-between">
	<h2 class="text-xl">
	  {{loop.index}}.
	  <a href="/vocab/{{ vocab.key }}/task/{{ work.task_key }}">
	    Task: <span class="text-secondary">{{ work.task_name }}</span>
	  </a>
	</h2>
      </div>
      <div class="mb-4">{{ work.task_description }}</div>
      <input type="hidden" id="work_id{{ loop.index }}" name="work_id" value="{{ work.work_id }}" />
      <fieldset class="fieldset">
	<textarea class="textarea w-full" name="content" id="content{{ loop.index }}"  placeholder="Add content">{{ work.work_content if work.work_content }}</textarea>
	<div class="flex flex-row justify-between items-start">
	  <div class="label ">Enter or modify text and save.</div>
	  <button class="btn btn-primary" hx-post="/x/vocab/{{ vocab.key }}/term/{{ term.key }}/task/{{ work.task_key }}/setwork" hx-target="#response{{ loop.index }}" hx-include="#work_id{{ loop.index }},#content{{ loop.index }}">Save</button>
	</div>
	<p class="label" id="response{{ loop.index }}"></p>
      </fieldset>
    </div>
    {% endfor %}
    {% else %}
    <i> No tasks defined </i>
    {% endif %}
  </div> <!-- tasks end -->


    
  <div class="divider mt-10">Log of changes</div>
  <div class="mx-4">
    {% include "log_component.html" %}
  </div>
  {% endif %}	<!-- if editable -->

</div> <!-- content end -->
{% endblock %}
