{% extends "base.html" %}

{% block main_menu %}
<li><a href="/">Home</a></li>
<li><a href="/vocab/{{ vocab.key }}/digest">Digest</a></li>
<li><a href="/vocab/{{ vocab.key }}/list">List</a></li>
<li><a href="/vocab/{{ vocab.key }}/graph">Graph</a></li>
{% if vocab.is_editable(user) %}
<li class="menu-title">Actions:</li>
<li><a href="/vocab/{{ vocab.key }}/edit/{{ term.key }}">Edit</a></li>
<li><a href="/vocab/{{ vocab.key }}/tasks">Tasks</a></li>
{% endif %}
{% endblock main_menu %}
	  
{% block nav_middle %}
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
{% endblock nav_middle %}

{% block user_menu %}
  <li><i>{{ user.github }}</i></li>
  <li><a href="/logout">Logout</a></li>
{% endblock user_menu %}


{% block content %}
<div class="flex flex-col px-6">

  <a href="/vocab/{{vocab.key}}/list#{{ term.key }}">
    <h1 class="text-2xl">
      {{ term.term }}
      {% if term.synonyms|length > 0 %}
      <span class="text-xl"> (<div class="tooltip tooltip-top" data-tip="Synonym">{{ term.synonyms|join('; ') }}</div>) </span>
      {% endif %}
    </h1>
  </a>

  
  <div class="p-4">
    <h2 class="text-lg font-bold">Definition:</h2>
    <div class="flex flex-row">
    <span>{{ term._definition_html|safe }}</span> 
    {% if term._definition_html|length == 0 %}
      <i>No definition.</i>
      {% endif %}
      </div>
    <div class="pt-4">
      <h2 class="text-lg font-bold">Notes:</h2>
      <ol class="list-decimal ml-4">
	{% for n in term._notes_html %}
	<li>
	  {{ n|safe }}
	</li>
	{% endfor %}
      </ol>
      {% if term._notes_html|length == 0 %}
      <i>No notes.</i>
      {% endif %}
    </div>

    <div class="pt-4 flex flex-row gap-4">
      <div>
      <h2 class="text-lg font-bold">Formal:</h2>
      <table class="table-sm self-start table-zebra border border-base-content/5 bg-base-100">
	<tbody>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Formal section">Section</div></th>
            <td>{{ term.section }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Formal Source">Source</div></th>
            <td>{{ term.source }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Context for multiply-defined">Context</div></th>
            <td>{{ term.context }}</td>
	  </tr>
	</tbody>
      </table>
      </div>
      <div>
<h2 class="text-lg font-bold">Structural:</h2>
      <table class="table-sm self-start table-zebra border border-base-content/5 bg-base-100">
	<tbody>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Unique key">Key</div></th>
            <td>{{ term.key }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Inward links">In</div></th>
            <td>{{ term._indegree }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Outward links">Out</div></th>
            <td>{{ term._outdegree }}</td>
	  </tr>
	  {% if vocab.is_editable(user) %}
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Revision">rev</div></th>
            <td>{{ term.rev }}</td>
	  </tr>
	  {% endif %}
	</tbody>
      </table>
      </div>
    </div>   

    
    {% if vocab.is_editable(user) %}
<div class="divider mt-10">Tags</div>
   <div class="mt-10">
      <fieldset class="fieldset">
	<input type="text" class="input w-full" placeholder="Set tags" name="tags"
	       value="{% for tag in term._tags %}{{ tag['name'] }}{% if not loop.last %}  {% endif %}{% endfor %}" hx-post="/x/settags" hx-target="#response" hx-include="#tag_key,#tag_vocab" />
	<input type="hidden" id="tag_key" name="key" value="{{ term.key }}" />
	<input type="hidden" id="tag_vocab" name="vocab" value="{{ vocab.key }}" />
	<p class="label" id="target">Tags should be separated by spaces</p>
	<p class="label" id="response"></p>
      </fieldset>
    </div>


<div class="divider mt-10">Tasks</div>
  <div class="flex flex-col gap-4">
    
    {% for work in works %}
    <div class="flex flex-col bg-base-100 w-full shadow-sm">
      <div class="flex flex-row justify-between">
	<h2 class="text-xl">
	  <a href="/vocab/{{ work.vocab }}/task/{{ work.task_key }}">
	    Task: <span class="text-secondary">{{ work.task_name }}</span>
	  </a>
	</h2>
	<button class="btn btn-primary">Save</button>
      </div>
      <div>{{ work.task_description }}</div>
      <fieldset class="fieldset">
	<textarea class="textarea w-full" placeholder="Content">{{ work.work_content }}</textarea>
	<div class="label">Enter or modify text and save.</div>
      </fieldset>
    </div>
    {% endfor %}
  </div>


    
<div class="divider mt-10">Log of changes</div>
  <div class="mt-4">
    {% if log|length > 0 %}
    <ul class="list bg-base-100 rounded-box shadow-md">
      {% for l in log %}
      <li class="list-row">
	<div>{{ l['timestamp'] | ago }}</div>
	<div>{{ l['summary'] }}</div>
	<div>{{ l['user'] }}</div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <i>No Changes.</i>
    {% endif %}
  </div>
  {% endif %}	<!-- if editable -->
</div>
{% endblock %}
