{% extends "base.html" %}

{% block main_menu %}
<li><a href="/">Home</a></li>
{% if vocab.is_editable(user) %}
<li class="menu-title">Actions:</li>
<li><a href="/vocab/{{vocab.key}}/edit/{{ term.key }}">Edit</a></li>
{% endif %}
{% endblock main_menu %}
	  
{% block nav_middle %}
<a href="/vocab/{{ vocab.key }}/digest" class="btn btn-ghost"><span class="tooltip tooltip-bottom" data-tip="{{ vocab.name }}">{{vocab.key}}</span></a>
{% endblock nav_middle %}

{% block user_menu %}
  <li><i>{{ user.github }}</i></li>
  <li><a href="/logout">Logout</a></li>
{% endblock user_menu %}


{% block content %}
<div class="flex flex-col px-6">

  <a href="/vocab/{{vocab.key}}/list#{{ term.key }}">
    <h1 class="text-2xl">
      {{ term.term }}
      {% if term.synonyms|length > 0 %}
      <span class="text-xl"> (<div class="tooltip tooltip-top" data-tip="Synonym">{{ term.synonyms|join('; ') }}</div>) </span>
      {% endif %}
    </h1>
  </a>

  
  <div class="p-4">
    <h2 class="font-bold">Definition:</h2>
    {{ term._definition_html|safe }}

    <div class="pt-4">
      <h2 class="font-bold">Notes:</h2>
      <ol class="list-decimal ml-4">
	{% for n in term._notes_html %}
	<li>
	  {{ n|safe }}
	</li>
	{% endfor %}
      </ol>
      {% if term._notes_html|length == 0 %}
      <i>No notes.</i>
      {% endif %}
    </div>

    <div class="pt-4 flex flex-row gap-4">
      <div>
      <h2 class="font-bold">Formal:</h2>
      <table class="table-sm self-start table-zebra border border-base-content/5 bg-base-100">
	<tbody>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Formal section">Section</div></th>
            <td>{{ term.section }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Formal Source">Source</div></th>
            <td>{{ term.source }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Context for multiply-defined">Context</div></th>
            <td>{{ term.context }}</td>
	  </tr>
	</tbody>
      </table>
      </div>
      <div>
<h2 class="font-bold">Structural:</h2>
      <table class="table-sm self-start table-zebra border border-base-content/5 bg-base-100">
	<tbody>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Unique key">Key</div></th>
            <td>{{ term.key }}</td>
	  </tr>
	  {% if vocab.is_editable(user) %}
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Informal source">src</div></th>
            <td>{{ term.src }}</td>
	  </tr>
	  <tr>
            <th><div class="tooltip tooltip-right" data-tip="Revision">rev</div></th>
            <td>{{ term.rev }}</td>
	  </tr>
	  {% endif %}
	</tbody>
      </table>

	
      
      </div>
    </div>   
  
    {% if vocab.is_editable(user) %}
    <div class="pt-4">
      <h2 class="font-bold">Tags:</h2>
      <fieldset class="fieldset">
	<input type="text" class="input" placeholder="Set tags" name="tags"
	       value="{% for tag in term._tags %}{{ tag['name'] }}{% if not loop.last %}; {% endif %}{% endfor %}" hx-post="/settags" hx-target="#response" hx-include="#tid" />
	<input type="hidden" id="tid" name="tid" value="{{ term.key }}" />
	<input type="hidden" id="vocab" name="vocab" value="{{ vocab.key }}" />
	<p class="label" id="target">Tags should be separated by semi-colon (;)</p>
	<p class="label" id="response"></p>
      </fieldset>
    </div>

    {% if term.log is not none %}
    <div class="pt-4">
      <h2 class="font-bold">Change Log:</h2>
      <ol class="list-decimal ml-4">
	{% for n in term.log %}
	<li>
	  {{ n['text'] }}
	</li>
	{% endfor %}
      </ol>
      {% if term.log|length == 0 %}
      <i>No Changes.</i>
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
    
</div>
{% endblock %}
